
#myCanvas {
    border: 3px solid gray;
    width: 800px;
    height: 500px;
    /* object-fit: cover; */
    margin-bottom: 0;
    display: flex;
    
}

#info-container {
    background-color: gray;
    color: white;
    display: inline-block;
    padding: 10px;
    width: 785px;
}

.info {
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}